# Ignoriert den kompletten Godot 4 Cache (WICHTIG!)
.godot/
!.godot/extension_list.cfg

# Ignoriert temporäre Dateien
*.tmp

# (Die *.import Dateien lassen wir absichtlich durch, die MÜSSEN in Git sein!)